[buildout]
unzip = true
parts = django
find-links =
    http://pypi.auf.org/simple/auf.recipe.django/
eggs =
    auf.recipe.django
    pysqlite == 2.5.5

[django]
recipe = auf.recipe.django
project = tests
settings = settings
eggs = ${buildout:eggs}
test = tests


